{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div class="col-md-3 register-left">
<h1>
Some random Text. <br> or anything you wish to insert here,(Image or ads).<br> <strong>Anything You wish for can be inserted here !</strong>
</h1>
</div>
<div class="col-md-9">
  <h2>{{ title }}.</h2>
  <h3>{{ message }}</h3><hr>
  {% if errors %}
  <!-- <strong style="color:red">WARNINGS !!</strong> -->
  <div style="color:red"id="error-container">
    <button type="button" class="close" data-dismiss="alert">&times</button>
    <strong>Warnings!</strong>
    <ol>

      {% for error in errors %}
        <li>{{ error }}</li>
      <!-- <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
      {% endfor %}
  </ol>
  <hr>
  </div>
  {% endif %}
  {#  Condition Form starts here!  #}
  <form method="post" class="form-inline">
      {% csrf_token %}

      {% include 'app/entrycondition.html' %}

      {% include 'app/exitcondition.html' %}

      <div class="checkbox-card">
        <label for="Trial_condition_check_box">
          <strong>Do you wanna add Trial Condition: </strong>
          <input
            type="checkbox"
            class="trial_cond"
            checked name="checkbox"> Yes
        </label>
          <hr>
        <div class="pass-box">
          {% include 'app/trialcondition.html' %}
        </div>
      </div>
      {% include 'app/riskmanagement.html' %}
      <br/>
    <input class="btn btn-primary" type="submit">
  </form>
</div>

{% endblock %}

{# Additional scripts #}

{% block scripts %}
      <script type="text/javascript">
      #error-container {
    	     margin-top:10px;
    	     position: fixed;
    	}
      </script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="{% static '/app/scripts/jquery.chainedTo.min.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static '/app/scripts/jquery.chainedTo.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static '/app/scripts/condition.js' %}" charset="utf-8"></script>

{% endblock %}
