{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

{#  Condition Form starts here!  #}
    <form method="post" class="">
        {% csrf_token %}
        <fieldset id="chained-set">
{# Entry Condition Form Set #}
        <label for="enc-field-1">
            <select id="enc-field-1" class="form-control" name="enc-field-1">
                <option selected disabled >--choose--</option>
                <option value="{% now "h:i:s" %}">Time</option>
                <option value="{% now "W l" %}">Day</option>
                <option value="ma">MA_Cross</option>
                <option value="bb">BB</option>
                <option value="st">ST</option>
                <option value="macd">MACD</option>
                <option value="pattern">Pattern No.</option>
            </select>
        </label>

        <label for="enc-field-1-level-1" >
            <select id="enc-field-1-level-1" style="display: none" class="form-control" name="enc-field-1-level-1">
                <option value="ma_short" selected="selected" data-available-with="ma">Short</option>
                <option value="ma_long" data-available-with="ma">Long</option>
                <option value="bb_length" data-available-with="bb">Length</option>
                <option value="bb_mult" data-available-with="bb">Mult</option>
                <option value="st_length" data-available-with="st">Length</option>
                <option value="st_factor" data-available-with="st">Factor</option>
                <option value="macd_fast" data-available-with="macd">Fast L</option>
                <option value="macd_slow" data-available-with="macd">slow L</option>
                <option value="macd_source" data-available-with="macd">Source</option>
                <option value="pattern_1" data-available-with="pattern">1</option>
                <option value="pattern_2" data-available-with="pattern">2</option>
                <option value="pattern_3" data-available-with="pattern">3</option>
                <option value="pattern_4" data-available-with="pattern">4</option>
            </select>
        </label>

        <label for="enc-field-1-level-2" >
            <select id="enc-field-1-level-2" style="display: none" name="enc-field-1-level-2" class="form-control">
                <option value="wasd" selected="selected" data-available-with="ma+ma_short">mashort 1</option>
                {% for i in '12345678' %}
                {% endfor %}
            </select>
        </label>
        <label for="time_">
            <input type="time" max="15:30" min="09:15" required id="time_" name="time_field_4" class="form-control" style="display: none">
        </label>
        <label for="day_">
            <select id="day_" style="display: none" class="form-control" name="day_field_4">
                <option value="monday" selected="selected">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
            </select>
        </label>

        <label for="enc-field-4">
            <select id="enc-field-4" style="display: none" class="form-control" name="enc-field-4">
                <option value="default" selected="selected" data-available-with="am1,am2,em1">Default</option>
                <option value="fin" data-available-with="am1">Financial</option>
                <option value="lac" data-available-with="am1,am2">Latin America</option>
            </select>
        </label>
    </fieldset>

        <div class="checkbox-card">
            <label for="">
                <strong>Do you wanna add Trial Condition</strong>
                <input type="checkbox" class="trial_cond" checked name="checkbox"> Yes
            </label>
            <div class="pass-box">
                <input type="text"
                       class="form-control"
                       placeholder="Replace with trial condition form..."
                       name="inputTrialCondition">
            </div>
        </div><br/>
    <input class="btn btn-default" type="submit">
    </form>

{% endblock %}


{# Additional scripts #}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static '/app/scripts/jquery.chainedTo.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        $("#enc-field-1-level-1").chainedTo("#enc-field-1");
        $("#enc-field-1-level-2").chainedTo("#enc-field-1,#enc-field-1-level-1");
        $("#enc-field-4").chainedTo("#enc-field-1");

      	$(function(){
      		$(".trial_cond").click(function(event) {
      			var x = $(this).is(':checked');
      			if (x === true) {
              $(this).parents(".checkbox-card").find(".pass-box").show();
      			}
      			else{
              $(this).parents(".checkbox-card").find('.pass-box').hide();
      			}
      		});
      	})

        $(document).ready(function(){
            $('#enc-field-1').on('change', function() {
                if ( this.value === '{% now "h:i:s" %}') {
                    $("#time_").show();
                    $("#day_").hide().val('');
                    $("#enc-field-1-level-1").hide().val('');
                    $("#enc-field-4").hide().val('');
                    $("#enc-field-1-level-2").hide().val('');
                }
                else if (this.value === '{% now "W l" %}'){
                    $("#day_").show();
                    $("#time_").hide().val('');
                    $("#enc-field-1-level-1").hide().val('');
                    $("#enc-field-4").hide().val('');
                    $("#enc-field-1-level-2").hide().val('');
                }
                else {
                    $("#time_").hide().val('');
                    $("#day_").hide().val('');
                    $("#enc-field-1-level-1").show();
                    $("#enc-field-1-level-1").show();
                    $("#enc-field-1-level-2").show();
                }
                if (this.value === 'pattern')   {
                    $("#enc-field-1-level-2").hide().val('');
                }
            });
        });

    </script>
{% endblock %}
