<div class="">

  <strong>Risk Management : </strong>
    <fieldset id="chained-set">
    {# Entry Condition Form Set #}

  <div class="form-group" id='rsk_div_parent_1'>
    <label for="rsk_parent_1"></label>
    <select id="rsk_parent_1" class="form-control" name="rsk_parent_1">
        <option selected disabled >--choose--</option>
        <option value="long">Max Long</option>
        <option value="total">Max Total</option>
        <option value="short">Max Short</option>
        <option value="loss">Max Loss</option>
    </select>
  </div>

  <div class="form-group" id='rsk_div_child_1_1'>
    <label for="rsk_child_1_1" ></label>
    <select id="rsk_child_1_1"  class="form-control" name="rsk_child_1_1">
      <option value="default" data-available-with="*" selected disabled>Choose</option>
      <option value="01" data-available-with="long,total,short">01</option>
      <option value="02" data-available-with="long,total,short">02</option>
      <option value="03" data-available-with="long,total,short">03</option>
      <option value="04" data-available-with="long,total,short">04</option>
      <option value="05" data-available-with="long,total,short">05</option>
      <option value="06" data-available-with="total">06</option>
      <option value="07" data-available-with="total">07</option>
      <option value="08" data-available-with="total">08</option>
      <option value="09" data-available-with="total">09</option>
      <option value="10" data-available-with="total">10</option>
      <option value="absolute" data-available-with="loss">Absolute</option>
      <option value="percentage" data-available-with="loss">Percentage</option>
    </select>
  </div>


  <div class="form-group" style="display: none" id="rsk_percentage" >
    <label for="rsk_per"></label>
    <input type="number" name="profit_range" min= -100 max=100 class="form-control">
  </div>

  <div class="form-group" style="display: none" id="rsk_abs_value" >
    <label for="rsk_abs_value"></label>
    <input type="number" name="abs_value" min=0 max=1 step=0.1 class="form-control">
  </div>

  <div class="form-group">
    <label for="To Add More risk Management conditions"></label>
    <input type="button" class="btn btn-success add_field_button form-control" value="+">
  </div>
    </fieldset><hr>

</div>
